.container {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: large;
}

.checkbox_list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 5px;
}

.loading_container {
  height: 200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  cursor: pointer;
  user-select: none;
}

.checkbox:hover {
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
  .loading_container {
    height: 400px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
